

<h1>Seattle Cannabis Guide</h1>
<p>We created the <%= link_to "Seattle Cannabis Guide", "http://www.seattlecannabisguide.com" %> to help people find the best cannabis retailers in your area</p>

<p>List your favorite store to be sure everyone can find it!</p>