<% title 'About Us' %>

<h1>Seattle Cannabis Guide</h1>
<p>We created the <%= link_to "Seattle Cannabis Guide", "http://www.seattlecannabisguide.com" %> to help people find the best cannabis retailers in your area</p>

<p>Use the Search bar above to find a store near you!</p>

<p>Have a favorite store or one you would like to recommend?  Leave a review so that everyone will know the best places to shop!</p>